<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>[% IF title %]bibliophiler: [% title %][% ELSE %]bibliophiler[% END %]</title>
    <meta charset=utf-8>
    <link rel=stylesheet href=/css/stickyfoot.css   type=text/css media=screen>
    <link rel=stylesheet href=/css/bibliophiler.css type=text/css media=screen>
    <link rel=icon       href=/images/favicon.ico   type=image/vnd.microsoft.icon>
  </head>
  <body>
    <div id=wrap>
      <div id=header>
        <a href=[% c.uri_for( '/' ) %]><h1>bibliophiler</h1></a>
        <h2>what you read when</h2>
      </div>
      <div id=toolbar>
        [% INCLUDE toolbar.tt %]
      </div>
      <div id=content-wrapper class=clearfix>
        <div id=main style="float: left">
          [% content %]
        </div>

        <div id=sidebar style="float: right">
          [% INCLUDE sidebar.tt %]
        </div>
      </div>
    </div>
    <div id=footer>
      this is the foot.
    </div>
  </body>
</html>
