<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>[% IF title %]bibliophiler: [% title %][% ELSE %]bibliophiler[% END %]</title>
    <meta charset=utf-8>
    <link rel=stylesheet href=/css/stickyfoot.css   type=text/css media=screen>
    <link rel=stylesheet href=/css/bibliophiler.css type=text/css media=screen>
    <link rel=icon       href=/images/favicon.ico   type=image/vnd.microsoft.icon>
  </head>
  <body>
    <div id=wrap>
      <div id=header>
        <h1>bibliophiler</h1>
        <h2>what you read when</h2>
      </div>
      <div id=main class=clearfix>
[% content %]
      </div>
    </div>
    <div id=footer>
this is the foot.
    </div>
  </body>
</html>
